@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Sigmar', cursive;
}

@layer base {
  :root {
      --color-primary: 70, 70, 70;
      --color-secondary: 200, 200, 200;
      --color-main: 70, 70, 70;
  }

  :root[data-mode="dark"] {
      --theme: dark;
      --color-primary: 200, 200, 200;
      --color-secondary: 70, 70, 70;
      --color-main: 200, 200, 200;
  }
}

#app{
  background-color: rgb(var(--color-main));
}